/*default is small media*/

/*Body and other basic css*/
body {
  color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1, h2, h3 {
  color: orchid;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

hr {
  border: 3px solid orchid;
  border-radius: 3px;
}

#population {
  margin: auto;
  max-width: 100px;
  background-color: white;
  padding: 20px;
}

#errorMessage {
  color: crimson;
}

table, th, td {
  border: 1px solid black;
  margin: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  flex-direction: column;
  background-color: skyblue;
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  margin-top: 1rem;
  align-items: center;    
  margin-left: auto;
  margin-right: auto;
}

/* Specify flex container for main content */

.main {
  flex: 4;
  background-color: white;
  padding: 20px;
}

/* Set footer specifications */
footer {
  display: flex;
  flex-direction: column;
  background-color: skyblue;
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;    
  margin-left: auto;
  margin-right: auto;
}

footer p {
  padding: 8px 8px;
}

/* medium devices */
@media only screen and (min-width : 600px) {
  .topnav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  hr {
    border: 6px solid orchid;
    border-radius: 5px;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .topnav a, footer p {
    padding: 14px 14px;
  }
}

/* large devices */
@media only screen and (min-width: 1200px) {
  .topnav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  hr {
    border: 6px solid orchid;
    border-radius: 5px;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .topnav a, footer p {
    padding: 14px 14px;
  }
}